# Includelist some files
!.gitignore
!README.md
!test/documentation/*.config

# Ignore all files named .DS_Store and log files
**/.DS_Store
**/._*
**.log
**.out
log/*

# Ignore files from analysis, results, data and log
test/data/*
test/analysis/*
test/results/*
test/log/*
test/documentation/*.txt
test/scripts/*
test/documentation/samplesheet.csv
test/documentation/aml_*

#Ignore nextflow work and logs
work/*
.nextflow.*
.nfs*
.nextflow/

#Ignore dev files
schema_cache_id.txt
