params {
    //Toggle pipeline steps
    qc = true
    align = true
    assembly = true
    merge = true
    fusions = true
    expression = true

    //Default path options
    outDir = "./output"
    projectFolder = "."
    strandInfo= null
    bamFiles=null
    sampleGTFList=null
    chrExclusionList="./documentation/chr_exclusion_list.txt"
    mergedGTFbasename="transcriptome_full"
}

manifest {
    name            = 'transcriptome_pipeline'
    author          = 'Marina Reixachs Sole, Jip van Dinter, Damon Hofman'
    homePage        = 'https://github.com/mars13/nf_rna_pipeline/'
    defaultBranch   = 'main'
    description     = 'Transcriptome analysis including mapping, assembly, expression quantification and fusion calling from RNA-seq short read data.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.4'
    version         = 'v0.1'
}

profiles {
    local {
        process.executor = 'local'
    }
    slurm {
        process.executor = 'slurm'
        process.queue = 'cpu'
        process.memory = { task -> '24 GB' }
        process.cpus = { task -> 4 }
        // Additional SLURM configurations can be added here
    }
}

singularity {
    enabled = true
    autoMounts = true
}


timeline {
  enabled = true
  overwrite = true
  file = "log/timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "log/report.html"
}

trace {
  enabled = true
  overwrite = true
  file = "log/trace.txt"
}
