params {
    //Toggle pipeline steps
    qc               = true
    align            = true
    assembly         = true
    merge            = true
    build_annotation = true
    fusions          = true
    expression       = true
    expression_mode  = "sqfc"
    custom_annotation = "orfquant"

    //Default file and path
    project_folder      = "./"
    outdir              = "${params.project_folder}/output"
    input               = null
    reference_gtf       = null
    strand_info         = null
    bam_files           = null
    sample_gtf_list     = null
    chr_exclusion_list  = "assets/chr_exclusion_list.txt"
    output_basename = "out"
    help                = false
}

manifest {
    name            = 'mars13/nf_rna_pipeline'
    author          = 'Marina Reixachs Sole, Jip van Dinter, Damon Hofman'
    homePage        = 'https://github.com/mars13/nf_rna_pipeline/'
    defaultBranch   = 'main'
    description     = 'Transcriptome analysis including mapping, assembly, expression quantification and fusion calling from RNA-seq short read data.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.4'
    version         = 'v0.1'
}


plugins {
    id 'nf-schema@2.0.0'
}

executor {
    $slurm {
        queueSize = 30
        pollInterval = '30sec'
        queueStatInterval = '5min'

    }
}

profiles {
    local {
        process.executor = 'local'
        process.cpus     = 2
        process.memory   = '10GB'
    }
    slurm {
        process.executor  = 'slurm'
        process.queue     = 'cpu'
    }
}


singularity {
    enabled    = true
    autoMounts = true
}

timeline {
  enabled   = true
  overwrite = true
  file      = "${params.project_folder}/log/timeline.html"
}

report {
  enabled   = true
  overwrite = true
  file      = "${params.project_folder}/log/report.html"
}

trace {
  enabled   = true
  overwrite = true
  file      = "${params.project_folder}/log/trace.txt"
}

includeConfig 'configs/base.config'
