manifest {
    name            = 'transcriptome_pipeline'
    author          = ''
    homePage        = ''
    description     = 'Transcriptome analysis including mapping, assembly and annotation of short-reads RNA-seq data.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.4'
    version         = 'v0.1'
}

params {    
    qc = true
    align = true
    assembly = true
    outDir = "output"
}

// Set profile preferences

profiles {
    local {
        process.executor = 'local'
    }
    slurm {
        process.executor = 'slurm'
        process.queue = 'cpu'
        process.memory = { task -> '24 GB' }
        process.cpus = { task -> 4 }
        // Additional SLURM configurations can be added here
    }
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '-B "/hpc:/hpc" --env "LC_ALL=C.UTF-8"'
    cacheDir = '/hpc/local/Rocky8/pmc_vanheesch/singularity_images'
}

//Enable execution reports

timeline {
  enabled = true
  overwrite = true
  file = "log/timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "log/report.html"
}
trace {
  enabled = true
  overwrite = true
  file = "log/trace.txt"
}
